body {
    display: inline-grid;
    grid-template-areas: "header" "nav" "main-content" "footer";
    grid-template-rows: 0.5fr 1fr 0.25fr;
    gap: 15px;
    border-style: double;
    padding: 50px;
    margin: 8rem;
    align-items: center;
    justify-items: center;
    background-color: antiquewhite;

}

.nav {
    border-right: 10px;
    border-right-style: double;
    padding-right: 5px;
    color: #4b3803;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    position: sticky;
}


.header {
    grid-column: 1 / 3;
    grid-row: 1;
    /* background-color: rgb(245, 232, 188); */
    border-bottom: #4b3803 dotted;
  }

.footer {
    grid-column: 1 / 3;
    grid-row: 3;
}

.flex-container {
    display: flex;

    justify-content: center;
    align-content: center;
    gap: 15px;
    flex-flow: column wrap; /*determines both the direction of flexbox and whether the text wraps*/
    color: #4b3803;
}


h1 {
    color: rgb(46, 94, 42);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

header p {
    color: chocolate;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

a::before {
    color: darkolivegreen;
}

a:hover {/*5b. Applies to when link is being hovered over*/
    text-decoration: none; /*removes underline from link*/
}

a:visited {
    color: darkolivegreen;
}

h2 {
    text-align: center;
    color: rgb(46, 94, 42);
}

footer p {
    font-style: italic;
    text-align: center;
    color: #775700;
}

ul { /*5a - removes bullet points*/
    list-style-type: none;
    /* word-spacing: 2px; */

  }

  li {
    margin-bottom: 15px;
  }